# Data Science Tools and Ecosystem

## Author
Abraham

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science  
- Identify common libraries used in Data Science  
- Create and format tables using Markdown  
- Understand key Data Science tools and environments  
- Learn how to use Jupyter Notebook effectively

## Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

## Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Tensor-flow

### Data Science Tools 

|Data Science Tools|
|------------------|
| Jupyter Notebook |
| R Studio |
| Apache Zepellin|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to multiply then add integers

(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335